/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}

html, body {
  background-color: antiquewhite;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  /* width: 100%; */
  height: 100%;
  padding: 3rem; /* Border around the canvas */
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border-radius: 5vh;
  height: 100%;
  aspect-ratio: 9 / 16;
  display: block;
}